html {
  font-size: 16px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 0.7vw;
}
h6 {
  font-size: 1.1vmin;
}

table {
  width: 100%;
}
td {
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:nth-child(2n - 1) td:nth-child(n + 5) {
  font-weight: bold;
  font-style: italic;
} 
td:first-letter {
  color: red;
}
